# Don't commit compiler output
\Debug\*
\Release\*
light_ws2812\Debug\*
light_ws2812\Release\*


# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

light_ws2812_AVR/Debug/*
